# Copy this file and rename it to .env
# Replace with your actual MongoDB connection string
MONGO_URI=mongodb+srv://your_username:your_password@cluster.mongodb.net/?retryWrites=true&w=majority
PORT=3000
